*.py[cod]
#*#
*~
*.egg
*.egg-info
*.swp
*.DS_Store
*.so
*.o
*.out
*.lock
.ipynb_checkpoints
.vscode
data.pickle
dist/
.venv/

# Docs
builtdocs/
jupyter_execute/
doc/user_guide/*.ipynb
doc/Reference_Manual/

# Unit test / Coverage report
.coverage
coverage.xml

# Versionning
param/_version.py

# asv benchmark
benchmarks/.asv
benchmarks/param
