*.py[cod]
#*#
*~
*.egg
*.egg-info
*.swp
*.DS_Store
*.so
*.o
*.out
*.lock
.ipynb_checkpoints
.vscode
dist/
.venv/

# Docs
builtdocs/
jupyter_execute/
doc/Reference_Manual/
doc/user_guide/data.pickle
doc/user_guide/output.*
doc/reference/param/generated

# Unit test / Coverage report
.coverage
coverage.xml

# Versionning
param/_version.py

# asv benchmark
benchmarks/.asv
benchmarks/param

# pixi
.pixi
pixi.lock
