language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "pypy"

notifications:
  email:
    on_failure: change # [always|never|change] default: always

# no dependencies for py2.7+ (coveralls, ipython, flake8 only needed for testing)
install:
  - pip freeze
  - pip install coveralls flake8
  - if [[ $TRAVIS_PYTHON_VERSION == 2.6 ]]; then pip install ipython==1.0 ordereddict flake8==2.6; fi
  - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]]; then pip install ipython==5.3; fi
  - if [[ $TRAVIS_PYTHON_VERSION == 3* ]]; then pip install ipython; fi
  - pip freeze

script:
  - nosetests --with-doctest --with-coverage --cover-package=param
  - flake8 --statistics --exit-zero --ignore=E231 param numbergen

after_success: coveralls
