[project]
name = "param"
channels = ["conda-forge"]
platforms = ["linux-64", "osx-arm64", "osx-64", "win-64"]

[tasks]
install = 'python -m pip install --no-deps --disable-pip-version-check -e .'

[activation.env]
PYTHONIOENCODING = "utf-8"

[environments]
test-39 = ["py39", "test-core", "test", "example", "test-example"]
test-310 = ["py310", "test-core", "test", "example", "test-example"]
test-311 = ["py311", "test-core", "test", "example", "test-example"]
test-312 = ["py312", "test-core", "test", "example", "test-example"]
test-313 = ["py313", "test-core", "test", "example", "test-example"]
test-core = ["py313", "test-core"]
test-pypy = ["pypy", "test-core", "test-pypy"]
docs = ["py311", "example", "doc"]
build = ["py311", "build"]
lint = ["py311", "lint"]

[dependencies]
nomkl = "*"
pip = "*"

[feature.py39.dependencies]
python = "3.9.*"

[feature.py310.dependencies]
python = "3.10.*"

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.py312.activation.env]
COVERAGE_CORE = "sysmon"

[feature.py313.dependencies]
python = "3.13.*"

[feature.py313.activation.env]
COVERAGE_CORE = "sysmon"

[feature.pypy]
platforms = ["linux-64", "osx-64", "win-64"] # not supported for osx-arm64

[feature.pypy.dependencies]
pypy = "7.3.*"

[feature.example.dependencies]
aiohttp = "*"
pandas = "*"
panel = "*"

# =============================================
# =================== TESTS ===================
# =============================================
[feature.test-core.dependencies]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-github-actions-annotate-failures = "*"

[feature.test-core.tasks]
test-unit = 'pytest tests'

[feature.test.dependencies]
cloudpickle = "*"
ipython = "*"
jsonschema = "*"
nest-asyncio = "*"
numpy = "*"
odfpy = "*"
openpyxl = "*"
pandas = "*"
pyarrow = "*"
pytables = "*"
xlrd = "*"
gmpy2 = "*"

[feature.test-pypy.dependencies]
cloudpickle = "*"
ipython = "*"
jsonschema = "*"
nest-asyncio = "*"
numpy = "*"
odfpy = "*"
openpyxl = "*"
pandas = "*"
xlrd = "*"

[feature.test-example.tasks]
test-example = 'pytest -n logical --dist loadscope --nbval-lax doc'

[feature.test-example.dependencies]
psutil = "*"
pytest-xdist = "*"
nbval = "*"

# =============================================
# =================== DOCS ====================
# =============================================
[feature.doc]
channels = ["pyviz"]

[feature.doc.dependencies]
graphviz = "*"
nbsite = ">=0.8.4,<0.9.0"
sphinx-remove-toctrees = "*"

[feature.doc.tasks.docs-build]
cmd = "sphinx-build -b html doc builtdocs"

# =============================================
# ================== BUILD ====================
# =============================================
[feature.build.dependencies]
python-build = "*"
conda-build = "*"

[feature.build.tasks]
build-conda = 'bash scripts/conda/build.sh'
build-pip = 'python -m build .'

# =============================================
# =================== LINT ====================
# =============================================
[feature.lint.dependencies]
pre-commit = "*"

[feature.lint.tasks]
lint = 'pre-commit run --all-files'
lint-install = 'pre-commit install'
