[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[project]
name = "param"
dynamic = ["version"]
description = "Make your Python code clearer and more reliable by declaring Parameters."
readme = "README.md"
license = { text = "BSD-3-Clause" }
requires-python = ">=3.7"
authors = [
    { name = "HoloViz", email = "developers@holoviz.org" },
]
maintainers = [
    { name = "HoloViz", email = "developers@holoviz.org" },
]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: BSD License",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Scientific/Engineering",
    "Topic :: Software Development :: Libraries",
]
dependencies = []

[project.optional-dependencies]
doc = [
    "aiohttp",
    "ipython !=8.7.0",
    "myst-parser",
    "myst_nb ==0.12.2",
    "nbconvert",
    "nbsite ==0.8.0rc2",
    "pandas",
    "panel",
    "pydata-sphinx-theme <0.9.0",
    "sphinx-copybutton",
]
tests = [
    "coverage[toml]",
    "flake8",
    "pytest",
]
tests-full = [
    "param[tests]",
    "numpy",
    "pandas",
    "ipython",
    "jsonschema",
    "gmpy",
]
all = [
    "param[tests-full]",
    "param[doc]",
]

[project.urls]
Homepage = "https://param.holoviz.org/"
Tracker = "https://github.com/holoviz/param/issues"
Releases = "https://github.com/holoviz/param/releases"
Source = "https://github.com/holoviz/param"
HoloViz = "https://holoviz.org/"

[tool.hatch.version]
source = "vcs"

[tool.hatch.build.targets.wheel]
include = [
    "param",
    "numbergen",
]

[tool.hatch.build.targets.sdist]
include = [
    "param",
    "numbergen",
    "tests",
]

[tool.hatch.build.hooks.vcs]
version-file = "param/_version.py"

[tool.hatch.envs.default]
dependencies = [
    # Base tests dependencies
    "param[tests]",
    # Additional tests dependencies, not including gmpy as
    # it's tricky to install.
    "ipython",
    "jsonschema",
    "numpy",
    "pandas",
    # To keep __version__ up-to-date in editable installs
    "setuptools_scm",
]

[tool.hatch.envs.default.scripts]
dev = "pytest tests"

[tool.hatch.envs.docs]
features = ["doc"]
python = "3.9"

[tool.hatch.envs.docs.scripts]
build = [
    "cp examples/user_guide/*.ipynb doc/user_guide/",
    "python -m nbsite build --org holoviz --project-name param",
]

[tool.hatch.envs.tests]
dependencies = [
    "param[tests]",
    "ipython",
    "jsonschema",
]

[[tool.hatch.envs.tests.matrix]]
python = [
    "3.7",
    "3.8",
    "3.9",
    "3.10",
    "3.11",
    "pypy3",
]

[tool.hatch.envs.tests.scripts]
test = "pytest tests"
with_coverage = [
    "coverage run --source=numbergen,param -m pytest tests",
    "coverage report",
    "coverage xml",
]

[tool.hatch.envs.tests.overrides]
# Only install numpy and pandas on non PyPy environments
name."^(?!pypy).*".dependencies = [
    "numpy",
    "pandas",
]
# Only install gmpy on Linux
platform.linux.dependencies = [
    "gmpy",
]

[tool.pytest.ini_options]
python_files = "test*.py"

[tool.coverage.report]
omit = ["param/version.py"]
