.prompt {
  display: none;
}

.cell_output {
  padding-left: 0;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
	max-width: 1600px;
    }
}
